<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
  <app-header></app-header>


  <div class="container" style="margin-top: 100px">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <a [routerLink]="['profile']">
            <i class="fa fa-id-card-o fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
            <h3 style="font-size: 2vw">Profile</h3></a>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <a [routerLink]="['messages']">
            <i class="fa fa-envelope-o fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
            <span class="w3-badge w3-center w3-small w3-green">3</span>
            <h3 style="font-size: 2vw">Messages</h3></a>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <a [routerLink]="['materials']">
            <i class="fa fa-files-o fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
            <h3 style="font-size: 2vw">Posted Materials</h3></a>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <a [routerLink]="['surveys']">
            <i class="fa fa-file-text-o fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
            <h3 style="font-size: 2vw">Surveys</h3> </a>
        </div>
      </div>
    </div>
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <a [routerLink]="['statistics']">
            <i class="fa fa-bar-chart fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
            <h3 style="font-size: 2vw">Statistics</h3></a>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <a [routerLink]="['mymentor']">
            <i class="fa fa-user fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
            <h3 style="font-size: 2vw">My Mentor</h3></a>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <a [routerLink]="['mymentees']">
            <i class="fa fa-user fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
            <h3 style="font-size: 2vw">My Mentees</h3></a>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <a [routerLink]="['matches']">
            <i class="fa fa-link fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
            <h3 style="font-size: 2vw">Matches</h3></a>
        </div>
      </div>
    </div>
    <div class="card-deck mb-4 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <a [routerLink]="['faq']">
            <i class="fa fa-question-circle-o fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
            <h3 style="font-size: 2vw">FAQ's</h3></a>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <a [routerLink]="['mentors']">
            <i class="fa fa-users fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
            <h3 style="font-size: 2vw">Mentors</h3></a>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-body">
          <a [routerLink]="['mentees']">
            <i class="fa fa-users fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
            <h3 style="font-size: 2vw">Mentees</h3></a>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
          <div class="card-body">
            <a [routerLink]="['fmentees']">
              <i class="fa fa-user fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
              <h3 style="font-size: 2vw">My Freshmen Mentees</h3></a>
          </div>
        </div>
    </div>
  </div>
