<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
	html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
  </style>
  <app-header></app-header>
  <div class="w3-content w3-padding-64"  style="max-width:1564px;text-align: center">

    <div class="w3-quarter w3-padding-64">
      <a [routerLink]="['profile']">
      <i class="fa fa-id-card-o fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
      <h3>Profile</h3></a>
    </div>
  
    <div class="w3-quarter w3-padding-64">
      <a [routerLink]="['messages']">
      <i class="fa fa-envelope-o fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
      <span class="w3-badge w3-right w3-small w3-green">3</span>
      <h3>Messages</h3></a>
    </div>
  
    <div class="w3-quarter w3-padding-64">
      <a [routerLink]="['materials']">
      <i class="fa fa-files-o fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
      <h3>Posted Materials</h3></a>
    </div>
      
    <div class="w3-quarter w3-padding-64">
      <a [routerLink]="['surveys']">
      <i class="fa fa-file-text-o fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
      <h3>Surveys</h3> </a>
    </div>
  
  </div>
  <div class="w3-content w3-padding-64" style="max-width:1564px;text-align: center">

      <div class="w3-quarter w3-padding-64">
        <a [routerLink]="['statistics']">
        <i class="fa fa-bar-chart fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
        <h3>Statistics</h3></a>
      </div>
    
      <div class="w3-quarter w3-padding-64">
        <a [routerLink]="['mymentor']">
        <i class="fa fa-user fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
        <h3>My Mentor</h3></a>
      </div>
    
      <div class="w3-quarter w3-padding-64">
        <a [routerLink]="['mymentees']">
        <i class="fa fa-user fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
        <h3>My Mentees</h3></a>
      </div>
        
      <div class="w3-quarter w3-padding-64">
        <a [routerLink]="['matches']">
        <i class="fa fa-link fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
        <h3>Matches</h3></a>
      </div>
    
    </div>
    <div class="w3-content w3-padding-64" style="max-width:1564px;text-align: center">

        <div class="w3-quarter w3-padding-64">
          <a [routerLink]="['faq']">
          <i class="fa fa-question-circle-o fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
          <h3>FAQ's</h3></a>
        </div>
      
        <div class="w3-quarter w3-padding-64">
          <a [routerLink]="['mentors']">
          <i class="fa fa-users fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
          <h3>Mentors</h3></a>
        </div>
      
        <div class="w3-quarter w3-padding-64">
          <a [routerLink]="['mentees']">
          <i class="fa fa-users fa-fw w3-margin-right w3-xxlarge w3-text-teal" style="margin-left: 10px"></i>
          <h3>Mentees</h3></a>
        </div>      
      </div>
      
