
<meta name="viewport" content="width=device-width, initial-scale=1">


<div class="w3-container" style="margin-top: 100px">
  <h2>Matches</h2>

  <ngb-tabset>
    <ngb-tab title="Alumni Mentors&Mentees">
      <ng-template ngbTabContent>
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    
          <table class="w3-table w3-striped w3-white">
            <tr>
              <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> A-Match</a>
              
            </tr>
            <tr>
                <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> A-Match</a>
              
            </tr>
            <tr>
                <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> A-Match</a>
              
            </tr>
            <tr>
                <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> A-Match</a>
              
            </tr>
            <tr>
              <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> A-Match</a>
              
            </tr>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Senior Mentors&Mentees">
      <ng-template ngbTabContent>
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    
          <table class="w3-table w3-striped w3-white">
            <tr>
              <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> S-Match</a>
              
            </tr>
            <tr>
                <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> S-Match</a>
              
            </tr>
            <tr>
                <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> S-Match</a>
              
            </tr>
            <tr>
                <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> S-Match</a>
              
            </tr>
            <tr>
              <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> S-Match</a>
              
            </tr>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Requests">
      <ng-template ngbTabContent>
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    
          <table class="w3-table w3-striped w3-white">
            <tr>
              <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Request</a>
              
            </tr>
            <tr>
                <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Request</a>
              
            </tr>
            <tr>
                <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Request</a>
              
            </tr>
            <tr>
                <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Request</a>
              
            </tr>
            <tr>
              <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Request</a>
              
            </tr>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Unmatched Alumni Mentors&Mentees">
      <ng-template ngbTabContent>
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    
          <table class="w3-table w3-striped w3-white">
            <tr>
              <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> A-UMatch</a>
              
            </tr>
            <tr>
                <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> A-UMatch</a>
              
            </tr>
            <tr>
                <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> A-UMatch</a>
              
            </tr>
            <tr>
                <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> A-UMatch</a>
              
            </tr>
            <tr>
              <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> A-UMatch</a>
              
            </tr>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Unmatched Senior Mentors&Mentees">
      <ng-template ngbTabContent>
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    
          <table class="w3-table w3-striped w3-white">
            <tr>
              <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> S-UMatch</a>
              
            </tr>
            <tr>
                <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> S-UMatch</a>
              
            </tr>
            <tr>
                <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> S-UMatch</a>
              
            </tr>
            <tr>
                <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> S-UMatch</a>
              
            </tr>
            <tr>
              <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> S-UMatch</a>
              
            </tr>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</div>