
<meta name="viewport" content="width=device-width, initial-scale=1">


<div class="w3-container" style="margin-top: 100px">
  <h2>Matches</h2>

  <ngb-tabset>
    <ngb-tab title="Alumni Mentors&Mentees">
      <ng-template ngbTabContent>
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    
          <table class="w3-table w3-striped w3-white">
            <tr>
              <td><a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Alumni Mentor</a></td>
              <td>X</td>
              <td><a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Senior Mentee</a></td>
            </tr>
            <tr>
                <td><a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Alumni Mentor</a></td>
                <td>X</td>
                <td><a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Senior Mentee</a></td>
              </tr>
              <tr>
                  <td><a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Alumni Mentor</a></td>
                  <td>X</td>
                  <td><a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Senior Mentee</a></td>
                </tr>
                <tr>
                    <td><a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Alumni Mentor</a></td>
                    <td>X</td>
                    <td><a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Senior Mentee</a></td>
                  </tr>
                  <tr>
                      <td><a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Alumni Mentor</a></td>
                      <td>X</td>
                      <td><a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Senior Mentee</a></td>
                    </tr>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Senior Mentors&Mentees">
      <ng-template ngbTabContent>
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    
          <table class="w3-table w3-striped w3-white">
              <tr>
                <td><a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Senior Mentor</a></td>
                <td>X</td>
                <td><a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Freshmen Mentee</a></td>
              </tr>
              <tr>
                  <td><a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Senior Mentor</a></td>
                  <td>X</td>
                  <td><a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Freshmen Mentee</a></td>
                </tr>
                <tr>
                    <td><a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Senior Mentor</a></td>
                    <td>X</td>
                    <td><a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Freshmen Mentee</a></td>
                  </tr>
                  <tr>
                      <td><a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Senior Mentor</a></td>
                      <td>X</td>
                      <td><a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Freshmen Mentee</a></td>
                    </tr>
                    <tr>
                        <td><a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Senior Mentor</a></td>
                        <td>X</td>
                        <td><a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Freshmen Mentee</a></td>
                      </tr>
            </table>
        </div>
      </ng-template>
    </ngb-tab>





    <ngb-tab title="Requests">
      <ng-template ngbTabContent>
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>


          <table class="w3-table w3-striped w3-white">
              <tr>
                  <a class="w3-button w3-block w3-left-align"(click)="isMatchCollapsed = !isMatchCollapsed"
                  [attr.aria-expanded]="!isMatchCollapsed" aria-controls="isMatchCollapsedExample"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Match Request <span class="w3-badge w3-margin-right w3-small w3-green">5</span></a>
                  <div id="isMatchCollapsedExample" [ngbCollapse]="isMatchCollapsed">
                      <div class="card">
                        <div class="card-body">
                            <table class="w3-table w3-striped w3-white">
                                <tr>
                                  <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Request</a>
                                  
                                </tr>
                                <tr>
                                    <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Request</a>
                                  
                                </tr>
                                <tr>
                                    <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Request</a>
                                  
                                </tr>
                                <tr>
                                    <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Request</a>
                                  
                                </tr>
                                <tr>
                                  <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Request</a>
                                  
                                </tr>
                              </table>
                        </div>
                      </div>
                    </div>
              </tr>





              <tr>
                <a class="w3-button w3-block w3-left-align"(click)="isAlumniMentorCollapsed = !isAlumniMentorCollapsed"
                [attr.aria-expanded]="!isAlumniMentorCollapsed" aria-controls="isAlumniMentorCollapsedExample"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Alumni Mentor Request <span class="w3-badge w3-center w3-small w3-green">1</span></a>
                <div id="isAlumniMentorCollapsedExample" [ngbCollapse]="isAlumniMentorCollapsed">
                    <div class="card">
                      <div class="card-body">
                          <table class="w3-table w3-striped w3-white">
                              <tr>
                                <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Request</a>
                                
                              </tr>
                              
                            </table>
                      </div>
                    </div>
                  </div>
              </tr>
              <tr>
                  <a class="w3-button w3-block w3-left-align"(click)="isSeniorMentorCollapsed = !isSeniorMentorCollapsed"
                  [attr.aria-expanded]="!isSeniorMentorCollapsed" aria-controls="isSeniorMentorCollapsedExample"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Senior Mentor Request <span class="w3-badge w3-center w3-small w3-green">2</span></a>
                  <div id="isSeniorMentorCollapsedExample" [ngbCollapse]="isSeniorMentorCollapsed">
                      <div class="card">
                        <div class="card-body">
                            <table class="w3-table w3-striped w3-white">
                                <tr>
                                  <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Request</a>
                                  
                                </tr>
                                <tr>
                                    <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Request</a>
                                  
                                </tr>
                                
                              </table>
                        </div>
                      </div>
                    </div>
              </tr>


              <tr>
                  <a class="w3-button w3-block w3-left-align"(click)="isSeniorMenteeCollapsed = !isSeniorMenteeCollapsed"
                  [attr.aria-expanded]="!isSeniorMenteeCollapsed" aria-controls="isSeniorMenteeCollapsedExample"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Senior Mentee Request <span class="w3-badge w3-center w3-small w3-green">4</span></a>
                  <div id="isSeniorMenteeCollapsedExample" [ngbCollapse]="isSeniorMenteeCollapsed">
                      <div class="card">
                        <div class="card-body">
                            <table class="w3-table w3-striped w3-white">
                                <tr>
                                  <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Request</a>
                                  
                                </tr>
                                <tr>
                                    <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Request</a>
                                  
                                </tr>
                                <tr>
                                    <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Request</a>
                                  
                                </tr>
                                <tr>
                                    <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Request</a>
                                  
                                </tr>
                                
                              </table>
                        </div>
                      </div>
                    </div>
              </tr>
          </table>

    
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Unmatched Alumni Mentors&Mentees">
      <ng-template ngbTabContent>
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    
          <table class="w3-table w3-striped w3-white">
              <tr>
                  <a class="w3-button w3-block w3-left-align"(click)="isUMatchAlumniCollapsed = !isUMatchAlumniCollapsed"
                  [attr.aria-expanded]="!isUMatchAlumniCollapsed" aria-controls="isUMatchAlumniCollapsedExample"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Alumni Mentors</a>
                  <div id="isUMatchAlumniCollapsedExample" [ngbCollapse]="isUMatchAlumniCollapsed">
                      <div class="card">
                        <div class="card-body">
                            <table class="w3-table w3-striped w3-white">
                                <tr>
                                  <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Alumni Mentor</a>
                                  
                                </tr>
                                <tr>
                                    <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Alumni Mentor</a>
                                  
                                </tr>
                                <tr>
                                    <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Alumni Mentor</a>
                                  
                                </tr>
                                <tr>
                                    <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Alumni Mentor</a>
                                  
                                </tr>
                                <tr>
                                  <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Alumni Mentor</a>
                                  
                                </tr>
                              </table>
                        </div>
                      </div>
                    </div>
              </tr>

              <tr>
                <a class="w3-button w3-block w3-left-align"(click)="isUMatchSMenteeCollapsed = !isUMatchSMenteeCollapsed"
                [attr.aria-expanded]="!isUMatchSMenteeCollapsed" aria-controls="isUMatchSMenteeCollapsedExample"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Senior Mentees</a>
                <div id="isUMatchSMenteeCollapsedExample" [ngbCollapse]="isUMatchSMenteeCollapsed">
                    <div class="card">
                      <div class="card-body">
                          <table class="w3-table w3-striped w3-white">
                              <tr>
                                  <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Senior Mentee</a>
                                  
                                </tr>
                                <tr>
                                    <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Senior Mentee</a>
                                  
                                </tr>
                                <tr>
                                    <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Senior Mentee</a>
                                  
                                </tr>
                                <tr>
                                    <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Senior Mentee</a>
                                  
                                </tr>
                                <tr>
                                  <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Senior Mentee</a>
                                  
                                </tr>
                              
                            </table>
                      </div>
                    </div>
                  </div>
              </tr>
              
          </table>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Unmatched Senior Mentors&Mentees">
      <ng-template ngbTabContent>
        <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    
          <table class="w3-table w3-striped w3-white">
              <tr>
                  <a class="w3-button w3-block w3-left-align"(click)="isUMatchSMentorCollapsed = !isUMatchSMentorCollapsed"
                  [attr.aria-expanded]="!isUMatchSMentorCollapsed" aria-controls="isUMatchSMentorCollapsedExample"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Senior Mentors</a>
                  <div id="isUMatchSMentorCollapsedExample" [ngbCollapse]="isUMatchSMentorCollapsed">
                      <div class="card">
                        <div class="card-body">
                            <table class="w3-table w3-striped w3-white">
                                <tr>
                                  <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Senior Mentor</a>
                                  
                                </tr>
                                <tr>
                                    <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Senior Mentor</a>
                                  
                                </tr>
                                <tr>
                                    <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Senior Mentor</a>
                                  
                                </tr>
                                <tr>
                                    <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Senior Mentor</a>
                                  
                                </tr>
                                <tr>
                                  <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Senior Mentor</a>
                                  
                                </tr>
                              </table>
                        </div>
                      </div>
                    </div>
              </tr>

              <tr>
                <a class="w3-button w3-block w3-left-align"(click)="isUMatchFreshmenCollapsed = !isUMatchFreshmenCollapsed"
                [attr.aria-expanded]="!isUMatchFreshmenCollapsed" aria-controls="isUMatchFreshmenCollapsedExample"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Freshmen</a>
                <div id="isUMatchFreshmenCollapsedExample" [ngbCollapse]="isUMatchFreshmenCollapsed">
                    <div class="card">
                      <div class="card-body">
                          <table class="w3-table w3-striped w3-white">
                              <tr>
                                  <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Freshmen</a>
                                  
                                </tr>
                                <tr>
                                    <a class="w3-button w3-block w3-left-align"><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Freshmen</a>
                                  
                                </tr>
                                <tr>
                                    <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Freshmen</a>
                                  
                                </tr>
                                <tr>
                                    <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Freshmen</a>
                                  
                                </tr>
                                <tr>
                                  <a class="w3-button w3-block w3-left-align" ><i class="fa fa-chevron-down fa-fw w3-margin-right"></i> Un-Matched Freshmen</a>
                                  
                                </tr>
                              
                            </table>
                      </div>
                    </div>
                  </div>
              </tr>
              
          </table>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</div>