<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3" style="margin-top: 50px">
      <!-- Accordion -->
      <div class="w3-card w3-round">
        <div class="w3-white">

            <a href="javascript:void(0)" class="w3-button w3-block w3-theme-l1 w3-left-align" onclick="document.getElementById('id01').style.display='block'"><i class="fa fa-pencil fa-fw w3-margin-right"></i> Compose</a>
          
        </div>      
      </div>
      <br>
      
      <!-- Accordion -->
      <div class="w3-card w3-round">
        <div class="w3-white">
            <a href="javascript:void(0)" class="w3-button w3-block w3-theme-l1 w3-left-align" onclick="document.getElementById('id02').style.display='block'; document.getElementById('id03').style.display='none'"><i class="fa fa-inbox fa-fw w3-margin-right"></i> Inbox</a>
          
          <a href="javascript:void(0)" class="w3-button w3-block w3-theme-l1 w3-left-align" onclick="document.getElementById('id03').style.display='block'; document.getElementById('id02').style.display='none'"><i class="fa fa-paper-plane fa-fw w3-margin-right"></i> Sent Messages</a>
          
          
        </div>      
      </div>
      
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m9" style="margin-top: 30px">
    
      <div id="id02" class="w3-container w3-card w3-white w3-round w3-margin"><br>
      <h1>Messages</h1>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-angle-down w3-text-blue w3-large"></i></td>
            <td>First Message</td>
            <td><i>mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-angle-down w3-text-blue w3-large"></i></td>
            <td>Second Message</td>
            <td><i>mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-angle-down w3-text-blue w3-large"></i></td>
            <td>Third Message</td>
            <td><i>mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-angle-down w3-text-blue w3-large"></i></td>
            <td>Forth Message</td>
            <td><i>mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-angle-down w3-text-blue w3-large"></i></td>
            <td>Fifth Message</td>
            <td><i>mins</i></td>
          </tr>
        </table>
      </div>

      <div id="id03" class="w3-container w3-card w3-white w3-round w3-margin"><br>
      <h1>Sent Messages</h1>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-angle-down w3-text-blue w3-large"></i></td>
            <td>First Sent Message</td>
            <td><i>mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-angle-down w3-text-blue w3-large"></i></td>
            <td>Second Sent Message</td>
            <td><i>mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-angle-down w3-text-blue w3-large"></i></td>
            <td>Third Sent Message</td>
            <td><i>mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-angle-down w3-text-blue w3-large"></i></td>
            <td>Forth Sent Message</td>
            <td><i>mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-angle-down w3-text-blue w3-large"></i></td>
            <td>Fifth Sent Message</td>
            <td><i>mins</i></td>
          </tr>
        </table>
      </div>
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>

<!-- Modal that pops up when you click on "New Message" -->
<div id="id01" class="w3-modal" style="z-index:4">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-padding w3-red">
       <h2>Send Mail</h2>
    </div>
    <div class="w3-panel">
      <label>To</label>
      <input class="w3-input w3-border w3-margin-bottom" type="text">
      <label>Subject</label>
      <input class="w3-input w3-border w3-margin-bottom" type="text">
      <input class="w3-input w3-border w3-margin-bottom" style="height:150px" placeholder="What's on your mind?">
      <div class="w3-section">
        <a class="w3-button w3-red" onclick="document.getElementById('id01').style.display='none'">Cancel  <i class="fa fa-remove"></i></a>
        <a class="w3-button w3-red w3-right" onclick="document.getElementById('id01').style.display='none'">Send  <i class="fa fa-paper-plane"></i></a> 
      </div>    
    </div>
  </div>
</div>

<div id="id03" class="w3-modal" style="z-index:4">
    <div class="w3-modal-content w3-animate-zoom">
      <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-angle-down w3-text-blue w3-large"></i></td>
            <td>First Sent Message</td>
            <td><i>mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-angle-down w3-text-blue w3-large"></i></td>
            <td>Second Sent Message</td>
            <td><i>mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-angle-down w3-text-blue w3-large"></i></td>
            <td>Third Sent Message</td>
            <td><i>mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-angle-down w3-text-blue w3-large"></i></td>
            <td>Forth Sent Message</td>
            <td><i>mins</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-angle-down w3-text-blue w3-large"></i></td>
            <td>Fifth Sent Message</td>
            <td><i>mins</i></td>
          </tr>
        </table>
    </div>
  </div>
  

