<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Middle Column -->

       
<div class="w3-col m12" style="margin-top: 100px">
    <div class="w3-display-top w3-container w3-text-black">
        <h2>Freshmen Mentees</h2>
      </div>
    <div class="w3-container w3-card w3-white w3-round w3-margin"><br>

<table>
  <tr>
    <th>Name, Last Name</th>
    <th>Department</th>
    <th>Phone Number</th>
  </tr>
  <tr>
    <td>Freshmen 1</td>
    <td>Computer Engineering</td>
    <td>533 *** ** **</td>
  </tr>
  <tr>
    <td>Freshmen 2</td>
    <td>Computer Engineering</td>
    <td>533 *** ** **</td>
  </tr>
  <tr>
    <td>Freshmen 3</td>
    <td>Computer Engineering</td>
    <td>533 *** ** **</td>
  </tr>
  <tr>
    <td>Freshmen 4</td>
    <td>Endustrial Engineering</td>
    <td>533 *** ** **</td>
  </tr>
  <tr>
    <td>Freshmen 5</td>
    <td>Computer Engineering</td>
    <td>533 *** ** **</td>
  </tr>
  <tr>
    <td>Freshmen 6</td>
    <td>Computer Engineering</td>
    <td>533 *** ** **</td>
  </tr>
</table>
        
      </div>
    </div>