<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="w3-container w3-padding-64 w3-card w3-white w3-margin-bottom">
		<h2 class="w3-text-grey w3-padding-16"><i class="fa fa-question-circle-o fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>FAQ's</h2>
		<div class="w3-container">
        <p>Q: Dünyanın gelişmiş üniversitelerinde uygulanan bir sistem olan Mentorluk, eğitim kurumları tarafından çok farklı şekillerde yürütülmektedir?</p>
        <p>A: Bölümü tanımaktan hedeflerin belirlenmesine, öğrencinin yeteneklerinin desteklenmesinden yurt dışındaki ilgili eğitim programlarının belirlenmesine, sosyal, kültürel, akademik ve mesleki anlamda donanım kazanmasından rehberlik hizmetlerine kadar pek çok konuda danışmanlığı içeren bu sistem sayesinde, öğrenciler hedeflerine ulaşırken izleyecekleri yolu kolaylıkla bulabilmektedirler.</p>
        
      <h5 class="w3-opacity"><b> </b></h5>
    </div>

			<hr>
    
    <div class="w3-container">
        <p>Q: Dünyanın gelişmiş üniversitelerinde uygulanan bir sistem olan Mentorluk, eğitim kurumları tarafından çok farklı şekillerde yürütülmektedir?</p>
        <p>A: Bölümü tanımaktan hedeflerin belirlenmesine, öğrencinin yeteneklerinin desteklenmesinden yurt dışındaki ilgili eğitim programlarının belirlenmesine, sosyal, kültürel, akademik ve mesleki anlamda donanım kazanmasından rehberlik hizmetlerine kadar pek çok konuda danışmanlığı içeren bu sistem sayesinde, öğrenciler hedeflerine ulaşırken izleyecekleri yolu kolaylıkla bulabilmektedirler.</p>
            
      <h5 class="w3-opacity"><b> </b></h5>
    </div>
          <hr>
          <div class="w3-container">
              <p>Q: Dünyanın gelişmiş üniversitelerinde uygulanan bir sistem olan Mentorluk, eğitim kurumları tarafından çok farklı şekillerde yürütülmektedir?</p>
              <p>A: Bölümü tanımaktan hedeflerin belirlenmesine, öğrencinin yeteneklerinin desteklenmesinden yurt dışındaki ilgili eğitim programlarının belirlenmesine, sosyal, kültürel, akademik ve mesleki anlamda donanım kazanmasından rehberlik hizmetlerine kadar pek çok konuda danışmanlığı içeren bu sistem sayesinde, öğrenciler hedeflerine ulaşırken izleyecekleri yolu kolaylıkla bulabilmektedirler.</p>
                  
            <h5 class="w3-opacity"><b> </b></h5>
          </div>
                <hr>
                <div class="w3-container">
                    <p>Q: Dünyanın gelişmiş üniversitelerinde uygulanan bir sistem olan Mentorluk, eğitim kurumları tarafından çok farklı şekillerde yürütülmektedir?</p>
                    <p>A: Bölümü tanımaktan hedeflerin belirlenmesine, öğrencinin yeteneklerinin desteklenmesinden yurt dışındaki ilgili eğitim programlarının belirlenmesine, sosyal, kültürel, akademik ve mesleki anlamda donanım kazanmasından rehberlik hizmetlerine kadar pek çok konuda danışmanlığı içeren bu sistem sayesinde, öğrenciler hedeflerine ulaşırken izleyecekleri yolu kolaylıkla bulabilmektedirler.</p>
                        
                  <h5 class="w3-opacity"><b> </b></h5>
                </div>
                      <hr>
</div>