<meta name="viewport" content="width=device-width, initial-scale=1.0">

<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #9CD3E5">
    <a class="navbar-brand" href="#"><img src="assets/images/icons/android-chrome-256x256.png" alt="icon" style="width:70px;height:60px;"/>QUEST FOR MENTORS</a>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div [ngbCollapse]="!isNavbarCollapsed" class="collapse navbar-collapse w3-right" id="navbarsExampleDefault">
      <ul class="navbar-nav w3-center">
        <li class="nav-item active">
            <a href="#about" class="nav-link">ABOUT</a>
        </li>
        
        <li class="nav-item">
            <a href="#services" class="nav-link">SERVICES</a>
        </li>
  
        <li class="nav-item">
            <a href="#benefits" class="nav-link">BENEFITS</a>
        </li>
        <li class="nav-item">
            <a href="#contact" class="nav-link">CONTACT</a>
        </li>
        <li class="nav-item" >
            <a [routerLink]="['/register']" class="w3-button w3-red w3-large">SIGN UP</a>
            
            
        </li>
        <li class="nav-item">
            <button onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-green w3-large">LOGIN</button>

  <div id="id02" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
  
      <div class="w3-center"><br>
        <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
        
      </div>

      <form class="w3-container" action="/action_page.php">
        <div class="w3-section">
          <label><b>Username</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="usrname" required>
          <label><b>Password</b></label>
          <input class="w3-input w3-border" type="text" placeholder="Enter Password" name="psw" required>
          <a [routerLink]="['/manager']"><button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Login</button></a>
          <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me
        </div>
      </form>

      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <button onclick="document.getElementById('id02').style.display='none'" type="button" class="w3-button w3-red w3-left">Cancel</button>
        <span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>
      </div>

    </div>
  </div>
        </li>
      </ul>
    </div>
  </nav>
<!-- Header -->
<div class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="assets/images/hero6.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>IEU</b></span> <span class="w3-hide-small w3-text-light-grey">MENTORING SERVICE</span></h1>
  </div>
</div>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px;">

  <!-- About Section -->
  <div class="w3-container w3-padding-64" id="about">
    <p>VERSION-9</p>
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 text-center">About</h3>
    <div class="text-left fh5co-section-heading work-box">

        <p style="font-style: italic"><b>Mentorship Project?</b></p>
        <p>Mentorship system, being used by leading universities worldwide, is implemented in various ways by educational institutions.</p>
        
        <p style="font-style: italic"><b>University Mentorship Program?</b></p>
        <p>Students will be able to plan for the path they need to follow to accomplish their goals by receiving guidance on many subjects
          such as information about departments/programs; receiving support for their skills and talent; getting help with identifying their
          careers, studying abroad; gaining experience in social, cultural, academic and professional areas.</p>
        
        <p style="font-style: italic"><b>Career Mentorship Program?</b></p>
        <p>The purpose of the Project co-organized by IUE Alumni Relations Office and IUE Career Guidance Center is to bring IUE students and 
        alumni together, ensure graduates share their career and work experiences with students, and to prepare the students to work life best 
        way possible in addition to help increase their cultural and academic developments.</p>

      
      </div>
  </div>

  <div class="w3-container w3-padding-64" id="services">
      <h3 class="w3-border-bottom w3-border-light-grey text-center w3-padding-16">Services</h3>
      <div class="text-left fh5co-section-heading work-box">
          <h2>Career Mentorship</h2>
          
          <p style="font-style: italic"><b>Mentor Profile</b></p>
          <p>Mentor needs to have leadership skills, have good command of Izmir University of Economics values and eager to relay them, have positive attitude, be good at crisis management, and be creative and energetic.</p>
          <p>Mentor needs to provide support on different subjects. First of all, a mentor, in the eye of the student, will be a teacher; will inform the students about new approaches and share own experiences. Mentor will also build a friendship with the student. </p>
          
          <p style="font-style: italic"><b>Who Can Become a Mentor</b></p>
          <p>Mentors need to have at least three years of work experience due to the fact that personal experience is fundamental in this program.</p>
          <p>All mentors need to have completed undergraduate and/or graduate studies at Izmir University of Economics.</p>
          <p>They need to have good problem solving, leadership, and communication skills.</p>
          
          <p style="font-style: italic"><b>What is Expected of Mentors</b></p>
          <p>Listen to the wants and expectations of students</p>
          <p>Provide insights into best business practices</p>
          <p>Provide support in researches, project implementations, and search for resources</p>
          <p>Provide insights into interviews</p>
          <p>Inform students about sectors</p>
          <p>Participate in activities to get to know mentees</p>
          <p>Dedicate at least 4 hours a month to this project</p>
          
          <p style="font-style: italic"><b>Who Can Become a Mentee</b></p>
          <p>Students of Izmir University of Economics, who are at least in 3rd grade, are all prospective Career Mentees.</p>

          <p style="font-style: italic"><b>What is Expected of Mentees</b></p>
          <p>Present their wants and expectations clearly</p>
          <p>Be open to criticisms, be able to revise goals</p>
          <p>Comprehend the significance of the program</p>

          <h2>University Mentorship</h2>
          
          <p style="font-style: italic"><b>Mentor Profile</b></p>
          <p>Mentor needs to have leadership skills, have good command of Izmir University of Economics values and eager to relay them, have positive attitude, be good at crisis management, and be creative and energetic.</p>
          <p>Mentor needs to provide support on different subjects. First of all, a mentor, will inform the students about new approaches and share own experiences. Mentor will also build a friendship with the student.</p>
          
          <p style="font-style: italic"><b>Who Can Become a Mentor</b></p>
          <p>Mentors need to be at least in 2nd grade or above</p>
          <p>They need to be a member of at least 2 student clubs</p>
          <p>They need to be actively involved in University’s social activities</p>
          <p>They need to have a minimum GPA of 2.5.  They need to have good command of university life, life in Izmir, communication, and socialization.</p>
          
          <p style="font-style: italic"><b>What is Expected of Mentors</b></p>
          <p>Listen to the wants and expectations of students</p>
          <p>Help them adapt to life on campus</p>
          <p>Help them adapt to city life</p>
          <p>Provide support in researches, course implementations, and search for resources</p>
          <p>Participate in activities to get to know mentees</p>
          <p>Encourage them to get socialized</p>
          
          <p style="font-style: italic"><b>Who Can Become a Mentee</b></p>
          <p>Students, who enrolled to Izmir University of Economics recently, are all prospective University Mentees.r</p>

          <p style="font-style: italic"><b>What is Expected of Mentees</b></p>
          <p>Present their wants and expectations clearly</p>
          <p>Be open to criticisms, be able to revise goals</p>
          <p>Comprehend the significance of the program</p>
          
        </div>
    </div>

    <div class="w3-container w3-padding-64" id="benefits">
        <h3 class="w3-border-bottom w3-border-light-grey text-center w3-padding-16">Benefits</h3>
        <div class="text-left fh5co-section-heading work-box">

						<p style="font-style: italic"><b>Benefits of Becoming a Mentor</b></p>
						<p>Mentorship is a powerful personal development and empowerment tool.</p>
						<p>It will improve responsibility and leadership traits. Today, in many workplaces, the most concrete example to leadership and responsibility is being a successful Mentor.</p>
						<p>Participate in “Mentorship Trainings”.</p>
						<p>It allows mentors and mentees to make useful networking connections.</p>
						<p>Successful Mentors will be issued certificates at the end of academic year based on evaluations.</p>

            <h2>Benefits of Becoming a Mentee</h2>
            <p style="font-style: italic"><b>Career Mentees (3rd and 4th grade IUE students):</b></p>
						<p>This program supports personal development of Mentee and Mentor mutually.</p>
						<p>Mentee will have a better grasp of academic life; find a professional support for projects and research quests.</p>
						<p>Mentee will get a chance to review career strategies and goals, analyze them with a different perspective and detect any short comes.</p>
						<p>Experience is the knowledge or mastery of an event or subject gained through involvement in or exposure to it; however, some experiences have significant outcomes for individuals. This program will allow Mentee to learn and assimilate Mentor’s Professional experiences.</p>
						<p>This will all result in enrichment of individual’s potential, and increase in self-confidence and qualities.</p>
				

						<p style="font-style: italic"><b>University Mentees (new IUE students):</b></p>
						<p>This program supports personal development of Mentee and Mentor mutually.</p>
						<p>Mentee will have a better grasp of university life; find a professional support for projects and research quests, and accelerate adapting to university.</p>
						<p>Experience is the knowledge or mastery of an event or subject gained through involvement in or exposure to it; however, some experiences have significant outcomes for individuals. This program will allow Mentee to learn and assimilate Mentor’s Professional experiences.</p>
						<p>This will all result in enrichment of individual’s potential, and increase in self-confidence and qualities.</p>
						
					</div>
      </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-64">Contact</h3>
    <p>If you have any questions? <a href="#">mentor@ieu.edu.tr</a> </p>
								<p>
									
								</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="mail" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="subject" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="comment" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>
  
<!-- End page content -->
</div>

