
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="#" style="margin-right: 240px"><img src="assets/images/mentorlogo.png" style="width:70px;height:50px;"/>QUEST FOR MENTOR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a href="#about" class="nav-link">ABOUT</a>
        </li>
        
        <li class="nav-item">
            <a href="#services" class="nav-link">SERVICES</a>
        </li>
  
        <li class="nav-item">
            <a href="#benefits" class="nav-link">BENEFITS</a>
        </li>
        <li class="nav-item">
            <a href="#contact" class="nav-link">CONTACT</a>
        </li>
        <li class="nav-item" style="margin-left: 30px">
            <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-red w3-large">SIGN UP</button>
        </li>
        <li class="nav-item">
            <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-green w3-large">LOGIN</button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
  
      <div class="w3-center"><br>
        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
        
      </div>

      <form class="w3-container" action="/action_page.php">
        <div class="w3-section">
          <label><b>Username</b></label>
          <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" name="usrname" required>
          <label><b>Password</b></label>
          <input class="w3-input w3-border" type="text" placeholder="Enter Password" name="psw" required>
          <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Login</button>
          <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me
        </div>
      </form>

      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
        <span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>
      </div>

    </div>
  </div>
        </li>
      </ul>
    </div>
  </nav>
<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="assets/images/hero6.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>IEU</b></span> <span class="w3-hide-small w3-text-light-grey">MENTORING SERVICE</span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px;">

  <!-- About Section -->
  <div class="w3-container w3-padding-64" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 text-center">About</h3>
    <div class="text-center fh5co-section-heading work-box">

        <p style="font-style: italic">Mentorluk Projesi?</p>
        <p>Dünyanın gelişmiş üniversitelerinde uygulanan bir sistem olan Mentorluk, eğitim kurumları tarafından çok farklı şekillerde yürütülmektedir.</p>
        <p>Bölümü tanımaktan hedeflerin belirlenmesine, öğrencinin yeteneklerinin desteklenmesinden yurt dışındaki ilgili eğitim programlarının belirlenmesine, sosyal, kültürel, akademik ve mesleki anlamda donanım kazanmasından rehberlik hizmetlerine kadar pek çok konuda danışmanlığı içeren bu sistem sayesinde, öğrenciler hedeflerine ulaşırken izleyecekleri yolu kolaylıkla bulabilmektedirler.</p>
        <p>Mentorluk Projesi sayesinde geleceğe daha bilinçli hazırlanan gençler yetiştirilmesi amaçlanmaktadır.</p>
        <p style="font-style: italic">Programın Amacı?</p>
        <p>İEU Mezunlarla İlişkiler Ofisi ve İEU Kariyer Yönlendirme Merkezi ortaklığında yapılması planlanan projenin amacı; İEU öğrencileri ile mezunlarını bir araya getirmek, mezunların kariyer ve is hayatında edindikleri tüm deneyimleri öğrenciler ile paylaşmalarını sağlamak ve öğrencileri is hayatına en iyi şekilde hazırlamaktır. Bunun yanında program sayesinde, katılanların kültürel ve akademik gelişimlerinin artması da amaçlanmaktadır.</p>
        <p style="font-style: italic">Mentorluk Nedir?</p>
        <p>Mentor kelimesinin kökeni mitolojiden gelmektedir. Odyssey’de belirttiğine göre Ithaca Kralı Ulysses savaşa gitmeden önce oğlu Telemachus’u en yakın arkadaşı Mentor’a emanet eder. Kralın savaştan dönmesi yirmi yıl alır ve Mentor, Prensi kralın yokluğunda en iyi şekilde eğitmiş ve yetiştirmiş olacaktır.</p>
        <p>Toplumlar daha karmaşık hale geldikçe Mentorluğun önemi artmıştır. Günümüzde Mentorluk şirketlerde, okullarda ve çeşitli kurumlarda uygulanmaktadır. Bugün mentorluk sisteminin kullanılmasındaki amaç insan potansiyelini geliştirmek, kurum kültürünü aktarmak, akademik yönden veya kariyer yönünden hedef kitleye destek vermek bunun sonucu olarak da daha etkili bir insan kaynağı yaratmaktır. Kişiler bu karmaşık ve sürekli değişken iş yaşantısına ayak uydurabilmek için özelliklerini geliştirmek zorundadırlar.</p>
        <p>Öğrencinin yani “Menti”nin gelişim potansiyeline, akademik durumuna, hedeflerine ve

kişisel ihtiyaçlarına göre her Mentorluk deneyimi bir diğerinden farklı olacaktır.</p>

      </div>
  </div>

  <div class="w3-container w3-padding-64" id="services">
      <h3 class="w3-border-bottom w3-border-light-grey text-center w3-padding-16">Services</h3>
      <div class="text-center fh5co-section-heading work-box">
          <h2>Üniversite Mentorluğu</h2>
          <p>Mentor Profili</p>
          <p>Liderlik potansiyeline sahip, İzmir Ekonomi Üniversitesi değerlerini tanımış ve bunu aktarmaya istekli, yaratıcı düşünebilen, insan ilişkileri kuvvetli, kriz yönetiminde başarılı pozitif ve enerjik olmalı</p>
          <p>Mentor öğrenciye farklı konularda destek vermelidir. Öncelikle Mentor, öğrenciye yeni yaklaşımlar konusunda bilgi verecek ve yaşadığı deneyimleri aktaracaktır. Bunun dışında öğrenciye destek ve arkadaş olması gerekecektir.</p>
          <p>Kimler Mentor Olabilir?</p>
          <p>Mentorlar 2. veya daha üst sınıfta olmalıdır.</p>
          <p>Üniversitenin sosyal aktivitelerinde yer almalıdır.</p>
          <p>Mentorlar; üniversite hayatı, İzmir’de yaşam, iletişim ve sosyallik konularında bekleneni vermelidir.</p>
          <p>Mentordan Beklenenler</p>
          <p>Öğrencinin isteklerini ve beklentilerini dinlemek</p>
          <p>Üniversite yaşantısına uyum sürecine destek olmak</p>
          <p>Şehir dışından gelen Mentilerin şehre alışmasına yardımcı olmak</p>
          <p>Araştırmalarında, projelerinde, derslerinde uygulamalar veya kaynak arayışında destek olmak</p>
          <p>Karşılıklı tanışma aktivitelerine katılmak</p>
          <p>Sosyalleşebilmeleri için destek olmak</p>
          <p>Kimler Mentee Olabilir?</p>
          <p>İzmir Ekonomi Üniversitesine yeni kayıt yaptırmış tüm öğrenciler Üniversiteler birer Mentee'dir.</p>
          <p>Mentee’den Beklenenler</p>
          <p>İstek ve beklentilerini açık bir şekilde ortaya koyabilmesi</p>
          <p>Eleştiriye açık olması ve hedefleri gerektiğinde revize edebilmesi</p>
          <p>Programın önemini ve ciddiyetini kavraması</p>

          <h2>Kariyer Mentorluğu</h2>
          <p>Mentor Profili</p>
          <p>Liderlik potansiyeline sahip, İzmir Ekonomi Üniversitesi değerlerini tanımış ve bunu aktarmaya istekli, yaratıcı düşünebilen, insan ilişkileri kuvvetli, kriz yönetiminde başarılı pozitif ve enerjik olmalı</p>
          <p>Mentor öğrenciye farklı konularda destek vermelidir. Öncelikle Mentor öğrencinin gözünde bir öğretmen olacak, öğrenciye yeni yaklaşımlar konusunda bilgi verecek ve yaşadığı deneyimleri aktaracaktır. Bunun dışında öğrenciye destek ve arkadaş olması gerekecektir</p>
          <p>Kimler Mentor Olabilir?</p>
          <p>Mentorlar en az üç yıl iş deneyimine sahip olmalıdır. Bunun nedeni bu programda kişisel deneyimin en önemli noktayı teşkil etmesidir.</p>
          <p>Tüm mentorlar lisans ve/veya lisansüstü öğrenimlerini İzmir Ekonomi Üniversitesinde tamamlamış olmalıdırlar.</p>
          <p>Mentorlar problem çözme, liderlik ve iletişim konularında bekleneni vermelidirler.</p>
          <p>Mentordan Beklenenler</p>
          <p>Öğrencinin isteklerini ve beklentilerini dinlemek</p>
          <p>Gerçek iş dünyasında yaşananları en iyi şekilde aktarmak ve yansıtmak</p>
          <p>Araştırmalarında, projelerinde uygulamalar veya kaynak arayışında destek olmak</p>
          <p>Mülakatlarda yaşanacaklar konusunda öğrenciyi bilgilendirmek</p>
          <p>Sektörler hakkında öğrencileri bilgilendirmek</p>
          <p>Karşılıklı tanışma aktivitelerine katılmak</p>
          <p>Bir ay içerisinde en az 4 saatini bu projeye adamak</p>
          <p>Kimler Mentee Olabilir?</p>
          <p>İzmir Ekonomi Üniversitesi öğrencisi olan minimum üçüncü sınıf öğrencilerinin tümü Kariyer Mentee adayıdır.</p>
          <p>Mentee’den Beklenenler</p>
          <p>İstek ve beklentilerini açık bir şekilde ortaya koyabilmesi</p>
          <p>Eleştiriye açık olması ve hedefleri gerektiğinde revize edebilmesi</p>
          <p>Programın önemini ve ciddiyetini kavraması</p>
          
        </div>
    </div>

    <div class="w3-container w3-padding-64" id="benefits">
        <h3 class="w3-border-bottom w3-border-light-grey text-center w3-padding-16">Benefits</h3>
        <div class="text-center fh5co-section-heading work-box">

						<h2>Mentorlar Neler Kazanacak</h2>
						<p>Mentorluk, yapan kişiye çok yönlü kişisel gelişim sağlayan bir uygulamadır.</p>
						<p>Sorumluluk ve liderlik özelliklerini geliştirecektir</p>
						<p>Bugün birçok is yerinde önemli bir işe alım kriteri olan liderlik ve sorumluluk duygusuna en somut örnek başarılı bir Mentor olabilmektir.</p>
						<p>Düzenlenecek “Mentorluk Egitimleri” ne katılabilecektir.</p>
						<p>Öğrenciler arasında bilinirliğini arttıracak ve ileride oluşabilecek potansiyel bir network doğal olarak kendiliğinden gelişecektir.</p>
						<p>Akademik yıl sonunda ölçümlerine göre başarılı Mentorlara sertifikalar verilecektir</p>

						<h2>Menteeler Neler Kazanacak</h2>
						<p>Kariyer Menteeleri (İEU 3. ve 4. sınıf öğrencileri)</p>
						<p>Bu program Mentee ve Mentorun karşılıklı olarak kişisel gelişimini desteklemekte ve bu gelişime yön vermektedir.</p>
						<p>Program sayesinde Mentee akademik hayatına daha iyi yön verebilecek, projelerine ve kaynak arayışlarına profesyonel bir destek bulabilecektir.</p>
						<p>Kariyer konusunda geliştirdiği stratejileri ve hedefleri gözden geçirme fırsatı bulacaktır. Eksik olduğu noktaları önceden belirleme şansını yakalayacaktır. Bu program sayesinde strateji ve hedeflerini değişik perspektiften analiz edebilecektir.</p>
						<p>Hayatta en önemli nokta deneyimlerin yaşanarak öğrenilmesidir. Ancak bazı deneyimler kişi için oldukça pahalı sonuçlar doğurabilmektedir. Program sayesinde öğrenci, Mentorun profesyonel deneyimlerini değerlendirme ve özümseme olanağını bulacaktır.</p>
						<p>Bunların hepsi kişinin potansiyelinin zenginleşmesi, özgüveninin ve kalitesinin artması ile sonuçlanacaktır.</p>

						<p>Üniversite Menteeleri(İEU yeni kayıt olan öğrenciler)</p>
						<p>Bu program Mentee ve Mentorun karşılıklı olarak kişisel gelişimini desteklemekte ve bu gelişime yön vermektedir.</p>
						<p>Program sayesinde Mentee Üniversite hayatına daha iyi yön verebilecek, projelerine ve kaynak arayışlarına tecrübeli bir destek bulabilecektir, üniversiteye uyum sürecini hızlandıracaktır.</p>
						<p>Hayatta en önemli nokta deneyimlerin yaşanarak öğrenilmesidir. Ancak bazı deneyimler kişi için oldukça pahalı sonuçlar doğurabilmektedir. Program sayesinde öğrenci, Mentorun profesyonel deneyimlerini değerlendirme ve özümseme olanağını bulacaktır</p>
						<p>Bunların hepsi kişinin potansiyelinin zenginleşmesi, özgüveninin ve kalitesinin artması ile sonuçlanacaktır.</p>
						
					</div>
      </div>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-64">Contact</h3>
    <p>If you have any questions? <a href="#">mentor@ieu.edu.tr</a> </p>
								<p>
									
								</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
  </div>
  
<!-- End page content -->
</div>

