<meta name="viewport" content="width=device-width, initial-scale=1.0">


<div class="w3-col m7" style="margin-top: 100px; margin-left: 280px">
    
  <div class="w3-row-padding">
    <div class="w3-col m12">
      <div class="w3-card w3-round w3-white">
        <div class="w3-container w3-padding">
          <h6 class="w3-opacity">Post Materials</h6>
          <p contenteditable="true" class="w3-border w3-padding">Attach: The File</p>
          <button type="button" class="w3-button w3-theme w3-border"><i class="fa fa-pencil"></i>Post</button> 
        </div>
      </div>
    </div>
  </div>
  
  <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    <span class="w3-right w3-opacity">min</span>
    <h4> </h4><br>
    <hr class="w3-clear">
    <p> </p>
      
   
    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-heart"></i>  Add as Favorite</button> 
  </div>
  
  <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    <span class="w3-right w3-opacity">min</span>
    <h4> </h4><br>
    <hr class="w3-clear">
    <p> </p>
      
   
    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-heart"></i>  Add as Favorite</button> 
  </div>
  <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    <span class="w3-right w3-opacity">min</span>
    <h4> </h4><br>
    <hr class="w3-clear">
    <p> </p>
      
   
    <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-heart"></i>  Add as Favorite</button> 
  </div>